{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
    <article class="archive-item">
        <div>
            <span>
              <a href="{{ post.url }}">{{post.title}}</a>
            </span>
            <small> 
              <i class="fas fa-fw fa-calendar-alt" aria-hidden="true"> </i>
              <span class="page__meta-date">
                {% assign date_format = site.date_format | default: "%Y년 %m월 %d일" %}
                {% if post.last_modified_at %} 
                <time datetime="{{ date | date_to_xmlschema }}">{{ post.last_modified_at | date: date_format }}</time>
                {% else %}
                <i class="far {% if include.type == 'grid' and document.read_time and document.show_date %}fa-fw {% endif %}fa-calendar-alt" aria-hidden="true"></i>
                  <time datetime="{{ date | date_to_xmlschema }}">{{ post.date | date: date_format }}</time>
                {% endif %}
        
                {% assign past_ts = post.date | date: '%s' | plus: 0 %}
                {% assign past_ts2 = post.last_modified_at | date: '%s' | plus: 0 %}
                {% assign current_ts = site.time | date: '%s' | plus: 0 %}
                {% assign delta_ts = current_ts | minus: past_ts %}
                {% assign delta_ts2 = current_ts | minus: past_ts2 %}
                {% assign three_days_ts = 86400 | times: 3 %}
                <span class="new__contents">
                  {% if three_days_ts > delta_ts %}N {% endif %}
                  {% if three_days_ts > delta_ts2 %}Update{% endif %}
                </span>
              </span>
              {% if site.category_archive.type and post.categories[0] and site.tag_archive.type and post.tags[0] %}
                {%- include post__taxonomy.html -%}
              {% endif %}
            </small>
        </div>
      </article>
</div>
